/*------------wrapper-----------*/
#wrapper {
    width: 100%;
    background-color: #e5e5e6;
    background-image: url("../img/backgraund.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}
#header {
    height: 70px;
    /*margin-bottom: 10px;*/
    background: #32373d;
}
#container {
    /*margin-bottom: 10px;*/
    overflow: hidden;
}
#side {
    float: left;
    width: 20%;
    background: #545454;
    height: 90vh;
}
#content {
    width: 80%;
/*    background: #8892BF;*/
    float: right;
    height: auto;
}
#footer {
    height: 70px;
    background: #32373d;
    padding-top: 20px;
}
#footer span{
    color: #ddd;
    float: right;
    margin-right: 50px;
}

/*----------------header--------------*/
#header h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
}

/*-----------------sidebar---------------*/
#side .img{
    width: 100%;
}
#side h1 {
    margin: 0;
    padding: 10px 20px;
    background: #32373d;
    color: #ddd;
}
#side ul {
    display: contents;
}
#side ul li a {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #32373d;
    font-size: 26px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
#side ul li a:hover {
    color: #ddd;
    background: #32373d;
}
#side ul li a.active {
    color: #ddd;
    background: #32373d;
}

/*------------------------content------------------------*/
.page_contents{
    padding: 10px;
    /*background-color: #FF2C31;*/
}
.page_contents h3{
    color: #ddd;
}
.create_new{
    font-size: 20px;
    float: right;
    margin-bottom: 10px;
}
.page_contents .edit{
    float: left;
    margin-right: 15px;
}
.page_contents .edit i{
    font-size: 30px;
    color: #fff;
}
.page_contents .delete i{
    font-size: 30px;
    cursor: pointer;
}
/*----------------page categories-------------*/





/*----------------form insert update-------------*/
.form_card{
    width: 50%;
    margin: 0 auto;
}






/*-------------------pagination-----------------*/
.pagination{
    text-align: center;
    display: block;
}
.pagination ul li {
    display: inline;
    padding-left: 0;
}
.pagination a.pn {
    background-color: #ddd;
    border: solid 1px #32373d;
    border-radius: 0.4rem;
    text-decoration: none;
    text-align: center;
    padding: 6px 12px;
    color: #000;
    margin: 0 5px;
}
.pagination a.pn:hover {
    background: #32373d;
    color: #ddd;
}
.pagination a.pn.active{
    background: #32373d;
    color: #ddd;
}
